<template >
    <div class="flex flexrow space-between flexgrow" >
        <div class="box" >
            <h3 >Slideshow:</h3 >
            <draggable :list="picturesNew" :options="{animation:500,group:'pictureDrag'}"
                       :element="'ul'"
                       class="list-group min-height" @add="onAdd($event,true)" @change="update($event,true)" >
                <li v-for="(picture,index) in picturesNew" class="list-group-item hidden-overflow" :key="picture.id"
                    :data-id="picture.id" :order-key="index" ><a
                        :href="basepath+'/pictures'+picture.ppath.split(/pictures/)[1]" ><img
                        :src="basepath+'/thumbs/'+picture.thumbname" class="center" ></a ><!--<i
                        class="fa fa-arrows drag-handle pull-right" ></i >--></li >
            </draggable >
        </div >
        <div class="box" >
            <h3 >Verfügbar:</h3 >
            <draggable :list="picturesAvailable" :options="{animation:300,group:'pictureDrag'}"
                       :element="'ul'"
                       class="list-group min-height" @add="onAdd($event,false)" @change="update($event,false)" >
                <li v-for="(picture,index) in picturesAvailable" class="list-group-item hidden-overflow"
                    :key="picture.id" :data-id="picture.id" :order-key="index" ><a
                        :href="basepath+'/pictures'+picture.ppath.split(/pictures/)[1]" ><img
                        :src="basepath+'/thumbs/'+picture.thumbname" class="center" ></a > <!--<i
                        class="fa fa-arrows drag-handle pull-right" ></i >--></li >
            </draggable >
        </div >
    </div >
</template >

<script >
    import draggable from 'vuedraggable';

    export default {
        components:
            {
                draggable,
            },

        props: ['pictures', 'picturesactive', 'slug', 'basepath', 'slideid'],

        data()
        {
            return {
                picturesAvailable: this.pictures,
                picturesNew: this.picturesactive,
                slideshowId: this.slideid,
                csrf: document.head.querySelector('meta[name="csrf-token"]').content,
            };
        },

        methods: {
            onAdd(event, useInSlideshow)
            {
                //console.log(event.item + '|-|' + useInSlideshow + '|-|' + event.item.getAttribute('data-id'));
                console.log('add-event');
                console.log(event.item);
                console.log(useInSlideshow);
                console.log(event.item.getAttribute('data-id'));
                let changedid = event.item.getAttribute('data-id');
                axios.put('/o/' + this.slug, {
                                                 pictures: this.picturesNew,
                                                 slide: this.slideshowId,
                                                 action: 'content',
                                                 added: useInSlideshow,
                                                 changedid: changedid,
                                             }).then((response) =>
                                                     {
                                                         // success message
                                                     });
            },
            update(event, useInSlideshow)
            {
                if (useInSlideshow && ('moved' in event))
                {
                    console.log('update-event|-|' + ('moved' in event));
                    console.log(event);
                    axios.put('/o/' + this.slug, {
                                                     pictures: this.picturesNew,
                                                     slide: this.slideshowId,
                                                     action: 'change',
                                                 }).then((response) =>
                                                         {
                                                             // success message
                                                         });
                }
            },
        },

        mounted()
        {
            console.log('Component mounted.');
        },
    };

</script >
