// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
@import "variables", "slide-index", "flexbox_playbox";
// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
// Font-Awesome
@import "node_modules/font-awesome/scss/font-awesome";

/*!
Custom CSS starting here
 */

.container
{
  width: 95%;
}

.alert.alert-danger > ul
{
  list-style-type: none;
}

.alert.alert-danger > ul > li:before
{
  content:     "\f071";
  font-family: FontAwesome;
  display:     inline-block;
  width:       1.3em; /* same as padding-left set on li */
}

.block
{
  display: inline-flex;
}

.drag-handle
{
  cursor: move;
}

.box
{
  border:                2px dotted grey;
  -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;
  padding:               5px;
}
.box-solid
{
  border:                2px solid grey;
  -webkit-border-radius: 25px; -moz-border-radius: 25px; border-radius: 25px;
}

.box > p, h1, h2, h3
{
  margin-top:  20px;
  margin-left: 20px;
}

.min-height
{
  min-height: 98%;
}

span.glyphicon.input-group-addon
{
  top: 0px;
}

.picture
{
  min-width: 240px;
  max-width: 30%;
  overflow:  hidden;
}

img.center
{
  display: block;
  margin:  auto;
}

.hidden-overflow
{
  overflow: hidden;
}

video
{
  width: 98%;
}